* {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #282c34;
  color: #61dafb;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menubar {
  position: absolute;
  right: 0px;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.show-menubar {
  border-top: 2px solid #61dafb;
  border-bottom: 2px solid #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 62px;
  left: 0px;
  background-color: #282c34;
}

.about {
  margin: 10px 0px;
}

.expand-icon {
  display: none;
}

.my-img {
  border: 5px solid #282c34;
  border-radius: 100%;
  margin: 50px;
}

.about-container {
  font-size: 1.5rem;
}

a {
  color: #61dafb;
  text-decoration: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 5px;
  width: 40%;
  margin: 50px auto;
  padding: 20px;
}

.input-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 5px 0px;
}

.input {
  width: 100%;
  font-size: 1.25rem;
  padding: 2px 5px;
}

.input-item p {
  width: 20%;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.input-item button {
  padding: 5px 15px;
  margin: 5px auto;
  font-size: 1.25rem;
  background-color: #282c34;
  color: #61dafb;
  border: 2px solid #61dafb;
  border-radius: 5px;
}

.feed-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.usercard {
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #282c34;
}

.usercard .username {
  font-size: 2.5rem;
  color: #61dafb;
}

.usercard .useremail {
  font-size: 1.5rem;
  color: #61dafb;
}

.box {
  width: 40%;
  margin: 50px auto;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
}

.item {
  display: flex;
  margin: 15px 0px;
}

.item-label {
  width: 10%;
  text-align: left;
  padding-left: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}

.item input {
  font-size: 1.5rem;
  width: 86%;
  margin: 0px 2%;
  padding: 3px;
}

.item button {
  width: 20%;
  margin: auto;
  background-color: #282c34;
  color: #61dafb;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
}

/* Tab version */
@media (max-width: 1250px) {
  .menubar {
    display: none;
  }

  .expand-icon {
    display: inline-block;
    position: absolute;
    right: 45px;
    font-size: 1.5rem;
    border: 2px solid;
    border-radius: 15px;
    width: 5%;
  }

  .my-img {
    width: 40%;
    margin: auto;
  }

  .usercard {
    width: 40%;
    margin: 20px auto;
  }

  .contact-form {
    width: 80%;
    margin: 50px auto;
  }

  .input-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px auto;
  }

  .box {
    width: 80%;
    margin: 50px auto;
  }

  .item {
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
  }

  .item-label {
    width: 100%;
    padding-left: 7px;
  }

  .item input {
    width: 94%;
  }

  .item button {
    width: 50%;
    margin: auto;
  }
}

/* mobile version */
@media (max-width: 650px) {
  .info-box {
    width: 100%;
    overflow-x: hidden;
  }

  .menubar {
    display: none;
  }

  .my-name {
    font-size: 1rem;
  }

  .my-img {
    width: 80%;
    margin: 20px auto;
  }

  .expand-icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  .usercard {
    width: 80%;
    margin: 20px auto;
  }
}
